
body{
    background-color:black;
    opacity:100;

}
hr{ 
    color:white;

}
.heading{
    font-weight:bold;
    font-size:25px;
    text-align: center;
    color:#00FF7F;
    border:10px;
    border-color:#00FF7F;
}
.row1{
    float:left;
    font-weight: normal;
    text-align: center;
    color:White;
    border-bottom: 20px;
}
input{
    background-color:#00FF7F;
    border:0.5px;
    border-radius:30px;
    color:black;
    font-family:bold;
    font-size: 10px;
    font-weight: 100;
    margin-left: 10px;
}
#list{
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    color:#ECF0F1 ;
}